<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>label</key>
		<string>com.tekniklr.webbackup</string>

		<key>ProgramArguments</key>
		<array>
			<string>/Users/tekniklr/Dropbox/programs/backup/web_backup.sh</string>
		</array>

		<key>LowPriorityIO</key>
		<true/>

		<key>Nice</key>
		<integer>1</integer>

		<key>StartCalendarInterval</key>
		<dict>
			<key>Hour</key>
			<integer>4</integer>
			<key>Minute</key>
			<integer>0</integer>
			<key>Weekday</key>
			<integer>6</integer>
		</dict>

	</dict>
</plist>
